body{
    background-color: #9cff59;
    color: black;
}

a, a:link, a:hover, a:active, a:visited{
    color: #999999;
}

#alap{
    border: none;
    width: 980px;
    background-color: #509050;
    margin: 0 auto;
    padding: 0px;
}

#belsoTabla{
    width: 940px;
    border: none;
    background-color: white;
    padding: 1px;
    margin: 0 auto;
}

#masodikSor{
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

.felkover{
    font-weight: bold;
}

#gyom{
    margin-right: 5px;
    margin-left: 5px;
    border: 1px;
    float: right;
}